body{
    max-width: 500px;
    max-height: 100%;
    text-align: center;
    margin-left: 600px;
}

div{
    background-color: aqua;
    min-height: 500px;
}

button{
    width: 32%;
}

h1{
    background-color: pink;
}

.boja{
    background-color: orange;
}

#prva{
    color: red;
}

#druga{
    color: blue;
}

#treca{
    color: orange;
}

#deo{
    margin-top: 30px;
}